<!DOCTYPE html>
<html>
<head>
    <title>Twitchtron</title>
    <link rel="stylesheet" href="./preload.css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:300|Poppins" rel="stylesheet">
</head>
<body>
<div id="startup-container">
    <h1 class="startup-text" id="startup-app-name">Twitchtron</h1>
    <h4 class="startup-text" id="startup-subtext">Loading the awesome...</h4>
    <img src="../../assets/images/Glitch_White_RGB.png" id="startup-twitch-logo"/>
    <div id="loader-container">
        <div class="loader"></div>
    </div>
</div>
</body>
</html>